/* input comment-box */

.comment-box {
	margin-bottom: 20px;
}

/* SVG иконки в форме  form-field*/

.form-field {
	position: relative;
	margin-bottom: 10px;
	padding: 0;
}

.svg-form {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);

	transition: fill var(--animation-transition);
}

/* кастомизация input */

.input-form-order {
	padding: 11px 12px;
	width: 100%;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;

	transition: border var(--animation-transition);

	&:not(:last-child) {
		padding-left: 42px;
		height: 40px;
	}
}

.name-input-order {
	display: block;
	text-align: start;
	margin-bottom: 4px;

	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.03em;

	color: #757575;
}

/* Стилизация для lable */

.input-form-order {
	display: block;
	resize: none;

	&:focus {
		border: 1px solid #2196f3;
	}
	&:focus ~ .svg-form {
		fill: var(--accent-color);
	}
}
