:root {
	--primary-text-color: #212121;
	--title-text-color: #757575;
	--accent-color: #2196f3;
	--primary-white-color: #ffffff;
	--secondary-bg-gray-color: #2f303a;
	--secondary-dg-but-color: #f5f4fa;
	--animation-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	--svg-icon-color-gray: #afb1b8;
}
.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	// width: 1200px;
	padding-left: 15px;
	padding-right: 15px;

	// margin-top: 0 auto;

	@media screen and (min-width: 480px) {
		max-width: 480px;
	}

	@media screen and (min-width: 768px) {
		max-width: 768px;
	}

	@media screen and (min-width: 1200px) {
		max-width: 1200px;
	}
}
