.no-padding-partner {
	padding-top: 60px;
	padding-bottom: 60px;

	@media screen and (min-width: 1200px) {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}

.partner {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 0;
	gap: 30px;

	&__link {
		@media screen and (min-width: 768px) {
			width: 226px;
		}

		@media screen and (min-width: 1200px) {
			width: 170px;
		}

		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;

		color: var(--svg-icon-color-gray);

		width: 210px;
		height: 92px;

		border: 1px solid #afb1b8;
		border-radius: 4px;

		transition: color var(--animation-transition), border var(--animation-transition);
	}

	&__icon {
		fill: currentColor;
	}
}

// .partner .partner__item:not(:last-child) {
// 	margin-right: 30px;
// }

.partner__link:hover,
.partner__link:focus {
	color: var(--accent-color);
	border: 1px solid var(--accent-color);
}
