.section {
	padding-top: 94px;
	padding-bottom: 94px;

	& .no-padding {
		padding-top: 0;
		padding-bottom: 0;
	}

	&.no-padding.work {
		padding-top: 0;

		@media screen and (max-width: 1199px) {
			display: none;
		}
	}
}

.section .caption {
	margin-top: 0;
	margin-bottom: 50px;

	color: var(--primary-text-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1, 17;
	text-align: center;

	@media screen and (max-width: 1199px) {
			font-size: 28px;
			margin-bottom: 30px;
		}
}

.caption__list {
	display: flex;
}

.caption__item:nth-child(2) {
	margin-right: 30px;
	margin-left: 30px;
}

/* Позиционирование - Чем мы занимаемся */

.caption__item {
	position: relative;
}

.caption__text {
	position: absolute;
	bottom: 0;
	left: 50%;
	right: 50%;
	width: 100%;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;

	color: var(--primary-white-color);

	transform: translate(-50%, -50%);
}

.caption__item::before {
	display: flex;
	position: absolute;
	bottom: 0;
	content: "";
	width: 370px;
	height: 70px;

	background: rgba(47, 48, 58, 0.8);
}
